*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(135deg,#c0c6d2);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    
}

.Todo-List{
background: #fff;
max-width: 540px;
padding: 40px 30px 70px;
margin: 100px auto 20px;
border-radius: 10px;
}
#input-text{
    padding: 5px;
    margin: 10px;
}