*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: linear-gradient(135deg, #40e2e7, #a192a7);
    width: 100%;
    min-height: 100vh;
    padding: 10px;
}

.Todo-List{
    background: #fff;
    max-width: 540px;
    padding: 40px 30px 70px;
    margin: 100px auto 20px;
    border-radius: 10px;
}

#input-field{
    padding: 12px;
    margin: 10px;
    border: none;
    background-color: rgb(220, 215, 215);
    border-radius: 10px;
}

#btn{
    padding: 12px;
    margin: 10px 100px;
    border: none;
    background-color: rgb(220, 215, 215);
    border-radius: 10px;
    width: 60px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 50px 12px 12px;
    cursor: pointer;
    position: relative;
}

ul li span{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #555;
    line-height: 30px;
    text-align: center;
}

ul li span:hover{
    color: red;
}